/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #d0cece;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.teams {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.matches, .results {
    padding: 15px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

.matches {
    max-width: 45%;
}

.results {
    max-width: 50%;
}

.results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.results table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    margin-top: 10px;
}

.results table th, .results table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.results table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logos img {
    max-width: 120px;
    height: auto;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    background: linear-gradient(135deg, #007bff, #0056b3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

#toggleMatchesBtn {
    background-color: #28a745;
    background: linear-gradient(135deg, #28a745, #218838);
}

#toggleMatchesBtn:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

/* Novo estilo para centralizar o botão */
.button-container {
    text-align: center; /* Centraliza o conteúdo dentro do contêiner */
    margin: 20px 0; /* Margem superior e inferior */
}


